<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Anthony Cecconi" >
    <link rel="stylesheet" href="home/css/home-mobile.css">
    <link rel="stylesheet" href="home/css/home-tablet.css">
    <link rel="stylesheet" href="home/css/home-desktop.css">
    <link rel="stylesheet" href="var.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>
            CURRICULUM VITAE
        </h1>
        <h2>
            Anthony Cecconi
        </h2>
    </header>
    <main>
        <section class="main-sections">
            <h3>Non solo un CV: il mio approccio al lavoro e alla crescita.</h3>
            <div class="section-div">
                <p>
                    Durante la mia carriera, ho spesso constatato che un semplice curriculum non è sufficiente per raccontare chi sono. 
                    Mi sono quindi chiesto:
                    <strong>perché non creare un sito personalizzato?</strong> 
                </p> 
                    
                <p>
                     Questo spazio nasce con l’obiettivo di mostrare le mie competenze e, soprattutto, di raccontarmi a chi desidera conoscermi meglio.
                    Naviga il sito oppure scarica il Curriculum   
                </p>
                <div>  
                    <h4>Curriculum Classico</h4>
                    <div id="cv-buttons" >
                        <a href="document/curriculum/a.Cecconi.CV.pdf" target="_blank" class="button">
                            Apri PDF
                        </a>
                        <a href="document/curriculum/a.Cecconi.CV.pdf" download class="button">Scarica PDF</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="main-sections">
            <h3>Uno sguardo ai social</h3>
            <div class="section-div">
                <p>questi sono i miei contatti:</p>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/anthony-cecconi"target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/friends"target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="main-sections">
            <h3>I miei repository:</h3>
            <div class="section-div">
                <p>Questi sono i miei repository personali. Al momento sono praticamente vuoti, poiché, per una mia inclinazione personale, tendo a non essere mai pienamente soddisfatto dei miei progetti e spesso li elimino. I lavori svolti in ambito professionale, invece, si trovano nei repository aziendali, che purtroppo non posso condividere.</p>
            </div>
        </section>

        <section class="main-sections">
            <h3>Progetti in evidenza</h3>
            <div class="section-div">
                <p>Attualmente non ho progetti personali di grande rilievo, ma sono impegnato in due attività principali:
                    <ul>
                        <li>
                            Questo sito: un progetto che rimarrà sempre aperto e in evoluzione durante tutta la mia carriera, arricchendosi costantemente di novità e miglioramenti.
                        </li>
                        <li>
                            Un progetto con Godot: sto lavorando per creare videogiochi, ma al momento sono ancora nella fase di apprendimento e sperimentazione.
                        </li>
                    </ul>
                    
                    Per quanto riguarda il lavoro, attualmente mi occupo della gestione operativa, in particolare del collegamento di opere come ponti a una piattaforma digitale chiamata <a href="https://www.almaviva.it/it_IT/Digital-Change/Trasporti-e-Logistica/Moova"> MOOVA</a>.
                </p>
            </div>
        </section>

        <section class="main-sections">
            <h3>Competenze tecniche</h3>
            <div class="section-div">
                <p>
                    Le mie competenze, pur non essendo particolarmente avanzate, sono frutto di due anni di esperienza come sviluppatore, durante i quali ho avuto modo di occuparmi non solo di sviluppo ma anche di altre attività complementari. Questo percorso mi ha permesso di acquisire una solida comprensione di molti concetti e dinamiche che, per chi è alle prime armi, possono risultare complessi o sconosciuti.

                    All'interno del mio attuale team, vengo spesso considerato un punto di riferimento sia dal team manager sia dai clienti, nonostante collabori con colleghi che vantano decenni di esperienza.
                </p>
            </div>
        </section>

        <section class="main-sections">
            <h3>Obiettivi professionali</h3>
            <div class="section-div">
                <p>
                    I miei obiettivi sono ambiziosi. Il mio principale traguardo è essere riconosciuto come un professionista appassionato, onesto e sincero, qualità che ritengo spesso più importanti delle competenze tecniche, poiché queste ultime possono essere apprese e sviluppate nel tempo.

                    In futuro, spero di acquisire le competenze e le capacità necessarie per sviluppare software complessi anche autonomamente.
                    in sintesi puntare a diventare un esperto nello sviluppo di software complessi e un pilastro per il mio team
                </p>
            </div>
        </section>

        <!--TODO:DA SVILUPPARE-->
        <section class="main-sections">
            <h3>Testimonianze o collaborazioni</h3>
            <div class="section-div">
                <p>
                    questa parte è da sviluppare in modo che con un tocken i miei collaboratori possono aggiungere commenti se lo vogliono
                </p>
            </div>
        </section>

        <section class="main-sections">
            <h3>Chi sono quando non lavoro</h3>
            <div class="section-div">
                <p>
                    Nella mia vita privata sono una persona semplice, con una grande curiosità e una forte passione per lo studio. Mi piace dedicarmi a lavori manuali e riparare oggetti di ogni tipo. La mia scrivania di casa è organizzata in due sezioni, riflettendo le mie due principali passioni.

                    Amo progettare software, anche se la maggior parte dei miei progetti non arriva a compimento, principalmente per motivi di tempo e risorse.

                    Non mi piace guardare lo sport: trovo noioso osservare gli altri giocare. Preferisco praticarlo personalmente, anche se, per problemi di salute, sono fermo da tempo. Tuttavia, sono fiducioso che presto tornerò ad allenarmi.

                    Sono una persona religiosa e attiva, ma questo aspetto della mia vita non ha mai interferito con il lavoro. Anzi, alcuni dei miei datori di lavoro hanno apprezzato i benefici della mia spiritualità, in particolare per quanto riguarda l’onestà.
                </p>
            </div>
        </section>

        <section class="main-sections">
            <h3>Contatti diretti</h3>
            <div class="section-div">
                <p>
                    Non sono un grande amante dei social, che utilizzo principalmente per svago, come guardare video divertenti. Di conseguenza, pubblico raramente contenuti, rendendo i miei profili quasi vuoti e poco attivi. Tuttavia, questi sono i principali social su cui è possibile contattarmi:
                </p>
            </div>
        </section>

        <section class="main-sections">
            <h3>Blog o articoli</h3>
            <div class="section-div">
                <p></p>
            </div>
        </section>

    </main>
    <script src="https://kit.fontawesome.com/dbdf1a8f31.js" crossorigin="anonymous"></script>
</body>
</html>
